---
import { VCenterRow } from '@layout/v-center-row'

let { title } = Astro.props
---

<section class="flex flex-col gap-y-8">
  <VCenterRow
    className="border-foreground/75 justify-between border-t-3 border-b py-3"
  >
    <h2>{title}</h2>
    <VCenterRow><slot name="header" /></VCenterRow>
  </VCenterRow>

  <slot name="main" />
</section>
