---
import { cn } from '@/lib/shadcn-utils'

import type { IClassProps } from '@/interfaces/class-props'
import type { ColorMode } from '@/interfaces/color-mode'
import { BaseCol } from './base-col'

interface Props extends IClassProps {
  mode?: ColorMode
  mainCls?: string
}

const { mode = 'light', mainCls, className } = Astro.props
---

<div
  data-mode={mode}
  class={cn(
    'grid grid-cols-1 lg:grid-cols-5 px-4 lg:px-0 grow h-full',
    className
  )}
>
  <BaseCol className="hidden h-full grow lg:flex">
    <slot name="left" />
  </BaseCol>
  <BaseCol className={cn('col-span-3 h-full grow', mainCls)}>
    <slot name="main" />
  </BaseCol>
  <BaseCol className="hidden h-full grow lg:flex">
    <slot name="right" />
  </BaseCol>
</div>
