---
import { cn } from '@/lib/shadcn-utils'

import { BaseCol } from './base-col'
import type { IClassProps } from '@/interfaces/class-props'
import type { ColorMode } from '@/interfaces/color-mode'

interface Props extends IClassProps {
  mode?: ColorMode
}

const { mode = 'light', className } = Astro.props
---

<div
  data-mode={mode}
  class={cn('grid grid-cols-1 lg:grid-cols-5 px-4 lg:px-0', className)}
>
  <BaseCol className="hidden lg:flex"><slot name="left" /></BaseCol>
  <BaseCol className="col-span-3"><slot name="main" /></BaseCol>
  <BaseCol className="hidden lg:flex"><slot name="right" /></BaseCol>
</div>
