---
import { cn } from '@/lib/shadcn-utils'

import type { IClassProps } from '@/interfaces/class-props'
import { BaseCol } from './base-col'

interface Props extends IClassProps {}

const { className } = Astro.props
---

<div class={cn('grid grid-cols-1 md:grid-cols-10 grow gap-8', className)}>
  <main class="col-span-7 flex flex-col"><slot name="main" /></main>
  <BaseCol className="col-span-3 hidden gap-y-8 md:flex"
    ><slot name="side" /></BaseCol
  >
</div>
