---
import { ThemeLink } from '@/components/link/theme-link'
import { MENU_ITEMS } from '@/consts'
import ContentLayout from '../layouts/ContentLayout.astro'
---

<ContentLayout title="Site Map" showTitle={true}>
  <div class="mt-8 mb-64 grid grid-cols-1 gap-8 md:grid-cols-4" slot="main">
    <section>
      <h3 class="mt-4 font-semibold">Learn More</h3>
      <ul class="mt-4 flex flex-col gap-y-4">
        {
          MENU_ITEMS.map((link: any) => {
            return (
              <li>
                <ThemeLink aria-label={`Goto ${link.label}`} href={link.path}>
                  {link.label}
                </ThemeLink>
              </li>
            )
          })
        }
      </ul>
    </section>

    <section>
      <h3 class="mt-4 font-semibold">Help</h3>
      <ul class="mt-4 flex flex-col gap-y-4">
        <li>
          <ThemeLink href="/about" aria-label="View help information">
            About
          </ThemeLink>
        </li>

        <li>
          <ThemeLink href="/privacy" aria-label="View privacy information">
            Privacy Policy
          </ThemeLink>
        </li>
        <li>
          <ThemeLink href="/terms" aria-label="View terms and conditions">
            Terms of Use
          </ThemeLink>
        </li>

        <li>
          <ThemeLink href="/contact" aria-label="Contact us">Contact</ThemeLink>
        </li>
      </ul>
    </section>
  </div>
</ContentLayout>
