---
//import HeaderLink from './HeaderLink.astro'

import { VCenterRow } from '@components/layout/v-center-row'
import ThemeToggle from '../ThemeToggle.astro'

import { MENU_ITEMS } from '@/consts'
import ContentDiv from '@components/layout/ContentDiv.astro'
import { Rss } from 'lucide-react'
import { BaseLink } from '../link/base-link'
import { HeaderLink } from './header-link'
import { Logo } from './logo'

const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '')
const subpath = '/' + pathname.split('/')[0]
---

<header
  class="bg-background/75 sticky top-0 z-20 flex h-16 flex-col justify-center backdrop-blur-md"
>
  <nav class="flex grow flex-col justify-center">
    <ContentDiv className="grow items-center">
      <div
        slot="main"
        class="grid grow grid-cols-5 items-center justify-between"
      >
        <Logo client:idle />

        <ul
          class="col-span-3 flex h-full flex-row items-center justify-center"
          slot="main"
        >
          {
            MENU_ITEMS.map(item => (
              <li>
                <HeaderLink
                  aria-label={item.label}
                  href={item.path}
                  isActive={item.path === subpath}
                >
                  {item.label}
                </HeaderLink>
              </li>
            ))
          }
        </ul>

        <VCenterRow slot="right" className="justify-end gap-x-2">
          <ThemeToggle />
          <BaseLink
            href="/rss.xml"
            title="Subscribe to RSS feed"
            className="stroke-foreground trans-color hover:stroke-orange-400"
            ><Rss className="h-5 w-5" stroke="" /></BaseLink
          >
        </VCenterRow>
      </div>
    </ContentDiv>
  </nav>
</header>
