---
import type { IClassProps } from '@/interfaces/class-props'
import { getReadTimeUrl } from '@/lib/post'
import { Clock } from 'lucide-react'
import { VCenterRow } from './layout/v-center-row'

interface Props extends IClassProps {
  readingTime: { text: string; minutes: number }
}

const { readingTime } = Astro.props
---

<VCenterRow className="gap-x-1.5">
  <Clock
    data-mode="light"
    className="stroke-foreground/40 w-5 data-[mode=dark]:stroke-white"
    strokeWidth={1.5}
  />
  <a href={getReadTimeUrl(readingTime.minutes)} class="hover:underline">
    {readingTime.text}
  </a>
</VCenterRow>
