---
import { BLOG_SLUG } from '@/consts'
import type { IClassProps } from '@/interfaces/class-props'
import { Clock } from 'lucide-react'
import { VCenterRow } from './layout/v-center-row'

interface Props extends IClassProps {
  readingTime: { text: string; minutes: number }
}

const { readingTime, className } = Astro.props
---

<VCenterRow className="gap-x-1">
  <Clock
    data-mode="light"
    className="stroke-foreground/40 w-5 data-[mode=dark]:stroke-white"
    strokeWidth={1.5}
  />
  <a
    href={`${BLOG_SLUG}/read-time/${readingTime.minutes}-min`}
    class="hover:underline"
  >
    {readingTime.text}
  </a>
</VCenterRow>
