---

---

<random-saying>
  <span id="random-saying" class="text-foreground/50"></span>
</random-saying>

<script>
  class RandomSaying extends HTMLElement {
    async connectedCallback() {
      const res = await fetch('/quotes.json')
      const quotes = await res.json()
      const randomIndex = Math.floor(Math.random() * quotes.length)
      this.querySelector('#random-saying')!.textContent = quotes[randomIndex]
    }
  }

  customElements.define('random-saying', RandomSaying)
</script>
