---
import { Moon, Sun } from 'lucide-react'
---

<theme-toggle>
  <button
    id="toggle-theme"
    aria-label="Toggle Theme"
    class="flex aspect-square h-5 w-5 items-center justify-center"
  >
    <Sun className="dark:hidden" />
    <Moon className="hidden dark:inline" />
  </button>
</theme-toggle>

<script>
  class ThemeToggle extends HTMLElement {
    connectedCallback() {
      const toggleButton = this.querySelector('#toggle-theme')!
      toggleButton.addEventListener('click', () => this.toggleTheme())
      this.setInitialTheme()
    }

    setInitialTheme() {
      const savedTheme = localStorage.getItem('theme')
      const prefersDark = window.matchMedia(
        '(prefers-color-scheme: dark)'
      ).matches

      if (savedTheme === 'dark' || (!savedTheme && prefersDark)) {
        document.documentElement.classList.add('dark')
      } else {
        document.documentElement.classList.remove('dark')
      }
    }

    toggleTheme() {
      const isDark = document.documentElement.classList.toggle('dark')
      localStorage.setItem('theme', isDark ? 'dark' : 'light')
    }
  }

  customElements.define('theme-toggle', ThemeToggle)
</script>
