---
// src/components/TableOfContents.astro
export interface Heading {
  depth: number
  slug: string
  text: string
}

type Props = { headings: Heading[] }

const { headings } = Astro.props

// Optional: Filter out anything deeper than h3
const tocHeadings = headings //.filter(h => h.depth === 2 || h.depth === 3)
---

{
  tocHeadings.length > 0 && (
    <aside class="toc">
      <h2>Table of Contents</h2>
      <ul>
        {tocHeadings.map(h => (
          <li class={`toc-item depth-${h.depth}`}>
            <a href={`#${h.slug}`}>{h.text}</a>
          </li>
        ))}
      </ul>
    </aside>
  )
}
