---
import { VCenterRow } from '@/components/layout/v-center-row'
import { ThemeLink } from '@/components/link/theme-link'
import ContentLayout from '@/layouts/ContentLayout.astro'
import { Calculator } from 'lucide-react'

// const crumbs: ICrumb[] = [
//   {
//     label: 'Calculators',
//     path: '/calculators',
//   },
//   {
//     label: 'Fee Calculator',
//     path: '/calculators/fees',
//   },
// ]
---

<ContentLayout title="Calculators" description="Available calculators.">
  <main slot="main">
    <!-- <h1 class="text-2xl font-bold">Read Time</h1> -->

    <ul class="grid grid-cols-3 gap-4">
      <li class="border-border/25 rounded-xl border p-8 shadow-xl">
        <VCenterRow className="gap-x-4">
          <Calculator />
          <ThemeLink href={'/calculators/fees'} className="text-3xl font-bold"
            >Fees</ThemeLink
          >
        </VCenterRow>
      </li>
    </ul>
  </main>
</ContentLayout>
